# Python / Backend
venv/
__pycache__/
*.pyc
.env

# Node / Frontend
node_modules/
build/
.env.local

# Herramientas de sistema / VS Code
.vscode/
.DS_Store

Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Entorno / Seguridad (CRÍTICO)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Dependencias
node_modules/
dist/
dist-ssr/
*.local

# Editor / SO
.vscode/
.idea/
.DS_Store
thumbs.db